.ptSerif {
  font-family: 'PT Serif', serif;
}
.ptSans {
  font-family: 'PT Sans', sans-serif;
}
.shadow {
  -webkit-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.inner_wrapper {
  margin: 0 auto;
  width: 1200px;
}
.left {
  text-align: left!important;
}
.right {
  text-align: right!important;
}
.clearfix {
  clear: both;
  float: none;
}
.head {
  position: relative;
  background-image: url("../img/headerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 700px;
}
.head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  /* Safari */
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.head .container .navigation {
  margin: 0px 15px;
  margin-top: 50px;
}
.head .container a {
  font-size: 14px;
  color: #ffffff;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}
.head .container a:hover {
  color: #ff6633;
}
.head .container p {
  font-size: 13px;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  margin-top: 10px;
}
.head .container .logo {
  -ms-flex-negative: 0 ;
  flex-shrink: 0 ;
  font-size: 36px;
  color: #ff6633;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  margin-left: 8%;
}
.head .container .logo:hover {
  cursor: pointer;
}
.head .welcomeToVoila {
  margin-top: 163px;
}
.head .welcomeToVoila h1 {
  font-size: 51px;
  font-family: 'PT Serif', serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}
.head .welcomeToVoila h4 {
  font-size: 36px;
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
}
.head .welcomeToVoila h4 span {
  text-decoration: underline;
}
.head .headButton {
  margin-top: 55px;
  text-align: center;
}
.head .headButton a {
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 160px;
  padding: 20px 0px;
}
.head .headButton a:first-child {
  background-color: #ff6633;
  font-family: 'PT Sans', sans-serif;
  margin-right: 20px;
}
.head .headButton a:last-child {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'PT Sans', sans-serif;
}
.head .scrollDetails {
  margin-left: 45%;
  display: block;
  position: absolute;
  bottom: 20px;
  color: #ffffff;
  text-align: center;
}
.head .scrollDetails :hover {
  cursor: pointer;
}
.head .scrollDetails p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
.head .scrollDetails:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.aboutVoila {
  position: relative;
  background-color: #f7f7f7;
  height: 995px;
}
.aboutVoila .restaurantVoila {
  width: 430px;
  margin-top: 180px;
  margin-left: 190px;
  margin-right: 50px;
  float: left;
}
.aboutVoila .restaurantVoila h4 {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 26px;
  padding-bottom: 40px;
}
.aboutVoila .restaurantVoila p {
  font-family: 'PT Sans', sans-serif;
  color: #868686;
  font-size: 16px;
  padding-bottom: 40px;
}
.aboutVoila .restaurantVoila p span {
  color: #ff6633;
}
.aboutVoila .restaurantVoila a {
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  float: right;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  padding: 20px 0px;
  background-color: #ff6633;
  font-family: 'PT Sans', sans-serif;
}
.aboutVoila .glass {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 565px;
  width: 675px;
  margin-top: 100px;
}
.aboutVoila .Eric {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 535px;
  height: 360px;
  left: 190px;
  top: 565px;
}
.aboutVoila .Kitchen {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 225px;
  left: 755px;
  top: 700px;
}
.aboutVoila .food {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 225px;
  left: 1065px;
  top: 700px;
}
.tastefulFrenchCuisine {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 120px;
}
.tastefulFrenchCuisine .photos {
  display: inline-block;
  margin-right: 50px;
  width: 460px;
  height: 460px;
  vertical-align: middle;
}
.tastefulFrenchCuisine .photos .photo1 {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 212px;
  height: 212px;
}
.tastefulFrenchCuisine .photos .photo2 {
  width: 212px;
  height: 212px;
  margin-bottom: 30px;
}
.tastefulFrenchCuisine .photos .photo3 {
  width: 453px;
  height: 212px;
}
.tastefulFrenchCuisine .copy {
  display: inline-block;
  vertical-align: middle;
  width: 460px;
  height: 460px;
}
.tastefulFrenchCuisine .copy h4 {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 26px;
  padding-bottom: 40px;
}
.tastefulFrenchCuisine .copy p {
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  color: #868686;
  font-size: 16px;
  padding-bottom: 40px;
}
.tastefulFrenchCuisine .copy p span {
  color: #ff6633;
}
.tastefulFrenchCuisine .copy a {
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  float: right;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  padding: 20px 0px;
  background-color: #ff6633;
  font-family: 'PT Sans', sans-serif;
}
.reservations {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 120px;
  background-color: #f7f7f7;
}
.reservations .makeAReservation {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  width: 460px;
  height: 600px;
  -webkit-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
}
.reservations .makeAReservation h4 {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 26px;
  padding-bottom: 40px;
  margin-top: 80px;
}
.reservations .makeAReservation .commensals {
  position: absolute;
  top: 380px;
  left: 70px;
  width: 310px;
  border-radius: 5px;
  padding: 10px 5px;
  outline: 0;
  border: 1px solid #e5e4e4;
  background-color: #f9f9f9;
}
.reservations .makeAReservation .fa-commenting-o {
  z-index: 10;
  position: absolute;
  top: 389px;
  left: 350px;
  color: rgba(0, 0, 0, 0.5);
}
.reservations .upcoming {
  margin-top: 120px;
  margin-bottom: 120px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  width: 460px;
  height: 600px;
  -webkit-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
}
.reservations .upcoming h4 {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 26px;
  padding-bottom: 40px;
  margin-top: 80px;
}
.reservations .upcoming .eventsList1 {
  height: 100px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.reservations .upcoming .eventsList1 .Event1 .photo {
  width: 72px;
  height: 72px;
  float: left;
  margin: 0px 0px 0px 20px;
}
.reservations .upcoming .eventsList1 .Event1 .info {
  width: 340px;
  height: 100px;
  float: right;
  text-align: left;
}
.reservations .upcoming .eventsList1 .Event1 .info h3 {
  font-size: 16px;
  font-family: 'PT Serif', serif;
  color: #ff6633;
}
.reservations .upcoming .eventsList1 .Event1 .info .dataTime {
  margin: 5px 0px 10px 0px;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.reservations .upcoming .eventsList1 .Event1 .info p {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}
.reservations .upcoming .eventsList1 .Event1 .info a {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #ff6633;
}
.reservations .upcoming .eventsList2 {
  height: 100px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.reservations .upcoming .eventsList2 .Event2 .photo {
  width: 72px;
  height: 72px;
  float: left;
  margin: 0px 0px 0px 20px;
}
.reservations .upcoming .eventsList2 .Event2 .info {
  width: 340px;
  height: 100px;
  float: right;
  text-align: left;
}
.reservations .upcoming .eventsList2 .Event2 .info h3 {
  font-size: 16px;
  font-family: 'PT Serif', serif;
  color: #ff6633;
}
.reservations .upcoming .eventsList2 .Event2 .info .dataTime {
  margin: 5px 0px 10px 0px;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.reservations .upcoming .eventsList2 .Event2 .info p {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}
.reservations .upcoming .eventsList2 .Event2 .info a {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #ff6633;
}
.reservations .upcoming .eventsList3 {
  height: 100px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.reservations .upcoming .eventsList3 .Event3 .photo {
  width: 72px;
  height: 72px;
  float: left;
  margin: 0px 0px 0px 20px;
}
.reservations .upcoming .eventsList3 .Event3 .info {
  width: 340px;
  height: 100px;
  float: right;
  text-align: left;
}
.reservations .upcoming .eventsList3 .Event3 .info h3 {
  font-size: 16px;
  font-family: 'PT Serif', serif;
  color: #ff6633;
}
.reservations .upcoming .eventsList3 .Event3 .info .dataTime {
  margin: 5px 0px 10px 0px;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.reservations .upcoming .eventsList3 .Event3 .info p {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}
.reservations .upcoming .eventsList3 .Event3 .info a {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #ff6633;
}
.PreFooter {
  text-align: center;
}
.PreFooter .bookATable {
  position: relative;
  margin-bottom: 120px;
  display: inline-block;
  vertical-align: middle;
  width: 330px;
  height: 220px;
}
.PreFooter .bookATable h4 {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 26px;
  padding-bottom: 35px;
  color: #3b3b3b;
}
.PreFooter .bookATable p {
  font-family: 'PT Sans', sans-serif;
  color: #868686;
  font-size: 16px;
  padding-bottom: 40px;
}
.PreFooter .bookATable a {
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  padding: 20px 0px;
  background-color: #ff6633;
  font-family: 'PT Sans', sans-serif;
}
.PreFooter .OR {
  position: relative;
  width: 100px;
  height: 220px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 120px;
}
.PreFooter .OR p {
  position: absolute;
  bottom: 95px;
  right: 33px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #3b3b3b;
}
.PreFooter .OR .palka {
  bottom: 47px;
}
.PreFooter .OR hr {
  position: absolute;
  display: inline;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  vertical-align: middle;
  text-align: center;
  bottom: 172px;
  left: 15px;
}
.PreFooter .TellFriends {
  position: relative;
  margin-bottom: 120px;
  display: inline-block;
  vertical-align: middle;
  width: 330px;
  height: 220px;
}
.PreFooter .TellFriends h4 {
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 26px;
  padding-bottom: 35px;
  color: #3b3b3b;
}
.PreFooter .TellFriends p {
  font-family: 'PT Sans', sans-serif;
  color: #868686;
  font-size: 16px;
  padding-bottom: 50px;
}
.PreFooter .TellFriends a {
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  margin-left: 5px;
  color: #ffffff;
  width: 60px;
  padding: 5px 0px;
  background-color: #3e59a5;
  font-family: 'PT Sans', sans-serif;
}
.PreFooter .TellFriends .BootTweet {
  background-color: #1b95e0;
}
.Footer {
  text-align: center;
  background-color: #222222;
  width: 100%;
  min-height: 300px;
  color: #fff;
}
.Footer .Sitename {
  vertical-align: middle;
  margin-top: 70px;
  text-align: left;
  display: inline-block;
  font-size: 36px;
  color: #ff6633;
  width: 300px;
  height: 185px;
  letter-spacing: 1px;
  -webkit-user-select: none;
}
.Footer .Sitename :hover {
  cursor: pointer;
}
.Footer .Sitename h1 {
  width: 100px;
}
.Footer .Navigation {
  vertical-align: middle;
  margin-top: 70px;
  text-align: left;
  display: inline-block;
  width: 300px;
  height: 185px;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: normal;
}
.Footer .Navigation h3 {
  margin-bottom: 10px;
}
.Footer .Navigation ul li {
  list-style: none;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  line-height: 2.0;
}
.Footer .Navigation ul li a {
  color: #ffffff;
}
.Footer .Navigation ul li a:hover {
  color: #ff6633;
}
.Footer .VisitUs {
  vertical-align: middle;
  margin-top: 70px;
  text-align: left;
  display: inline-block;
  width: 300px;
  height: 185px;
  font-size: 16px;
}
.Footer .VisitUs h3 {
  text-transform: uppercase;
}
.Footer .VisitUs p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  margin: 15px 0px;
}
.Footer .VisitUs p span {
  color: #ff6633;
}
.Footer .VisitUs .SocialIcons {
  margin-top: 15px;
  letter-spacing: 15px;
}
.Footer .VisitUs .SocialIcons a {
  color: #ffffff;
}
.Footer .VisitUs .SocialIcons a:hover {
  color: #ff6633;
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (max-width: 1362px) {
  .aboutVoila {
    position: relative;
    background-color: #f7f7f7;
    height: 600px;
    background-image: url("../img/glass_of_wine.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 50px;
  }
  .aboutVoila .restaurantVoila {
    width: 430px;
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 0px;
    float: left;
  }
  .aboutVoila .restaurantVoila h4 {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 26px;
    padding-bottom: 40px;
    color: white;
  }
  .aboutVoila .restaurantVoila p {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    padding-bottom: 40px;
  }
  .aboutVoila .restaurantVoila p span {
    color: #ff6633;
  }
  .aboutVoila .restaurantVoila a {
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    float: right;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    width: 160px;
    padding: 20px 0px;
    background-color: #ff6633;
    font-family: 'PT Sans', sans-serif;
  }
  .aboutVoila .glass {
    display: none;
  }
  .aboutVoila .Eric {
    display: none;
  }
  .aboutVoila .food {
    display: none;
  }
  .aboutVoila .Kitchen {
    display: none;
  }
}
@media screen and (max-width: 895px) {
  .head .welcomeToVoila {
    margin-top: 100px;
  }
  .head .welcomeToVoila h1 {
    font-size: 35px;
  }
  .head .welcomeToVoila h4 {
    font-size: 20px;
  }
  .head .headButton {
    margin-top: 55px;
    text-align: center;
  }
  .head .headButton a {
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    width: 140px;
    padding: 15px 0px;
  }
  .head .container .navigation p {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .tastefulFrenchCuisine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    /* Safari */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .reservations .makeAReservation {
    margin-bottom: 0px;
    margin-right: 50px;
  }
  .reservations .upcoming {
    margin-right: 50px;
  }
}
@media screen and (max-width: 785px) {
  .PreFooter .bookATable {
    margin-right: 0px;
  }
  .PreFooter .OR {
    display: none;
  }
  .PreFooter .TellFriends {
    margin-right: 0px;
  }
}
@media screen and (max-width: 640px) {
  .aboutVoila {
    position: relative;
    background-color: #f7f7f7;
    height: 600px;
    background-image: url("../img/glass_of_wine.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 50px;
  }
  .aboutVoila .restaurantVoila {
    width: 430px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    float: left;
  }
  .aboutVoila .restaurantVoila h4 {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 26px;
    padding-bottom: 40px;
    color: white;
  }
  .aboutVoila .restaurantVoila p {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    padding-bottom: 40px;
  }
  .aboutVoila .restaurantVoila p span {
    color: #ff6633;
  }
  .aboutVoila .restaurantVoila a {
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    float: right;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    width: 160px;
    padding: 20px 0px;
    background-color: #ff6633;
    font-family: 'PT Sans', sans-serif;
  }
}
@media screen and (max-width: 550px) {
  .aboutVoila {
    position: relative;
    background-color: #f7f7f7;
    height: 600px;
    background-image: url("../img/glass_of_wine.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
    margin-top: 50px;
  }
  .aboutVoila .restaurantVoila {
    width: 430px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    float: left;
  }
  .aboutVoila .restaurantVoila h4 {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    color: white;
  }
  .aboutVoila .restaurantVoila p {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    padding-bottom: 40px;
  }
  .aboutVoila .restaurantVoila p span {
    color: #ff6633;
  }
  .aboutVoila .restaurantVoila a {
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    float: left;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    width: 160px;
    padding: 15px 0px;
    background-color: #ff6633;
    font-family: 'PT Sans', sans-serif;
  }
  .head .welcomeToVoila {
    margin-top: 30px;
  }
  .head .welcomeToVoila h1 {
    font-size: 32px;
  }
  .head .welcomeToVoila h4 {
    font-size: 18px;
  }
  .head .headButton {
    margin-top: 55px;
    text-align: center;
  }
  .head .headButton a {
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    width: 140px;
    padding: 15px 0px;
  }
  .tastefulFrenchCuisine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    /* Safari */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tastefulFrenchCuisine .photos {
    margin-right: 0px;
    width: 460px;
    height: 460px;
  }
  .tastefulFrenchCuisine .photos .photo1 {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
  }
  .tastefulFrenchCuisine .photos .photo2 {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
  }
  .tastefulFrenchCuisine .photos .photo3 {
    width: 415px;
    height: 212px;
  }
  .tastefulFrenchCuisine .copy {
    margin-right: 0px;
    width: 400px;
    height: 460px;
  }
  .tastefulFrenchCuisine .copy h4 {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 26px;
    padding-bottom: 40px;
  }
  .tastefulFrenchCuisine .copy p {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    color: #868686;
    font-size: 16px;
    padding-bottom: 40px;
  }
  .tastefulFrenchCuisine .copy p span {
    color: #ff6633;
  }
  .tastefulFrenchCuisine .copy a {
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    float: right;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    width: 160px;
    padding: 20px 0px;
    background-color: #ff6633;
    font-family: 'PT Sans', sans-serif;
  }
  .reservations .makeAReservation {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 400px;
  }
  .reservations .upcoming {
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: #ffffff;
    width: 400px;
    height: 600px;
    margin-right: 0px;
    -webkit-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 5px 7px 1px rgba(50, 50, 50, 0.2);
  }
  .reservations .upcoming h4 {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 26px;
    padding-bottom: 40px;
    margin-top: 80px;
  }
  .reservations .upcoming .eventsList1 {
    height: 100px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .reservations .upcoming .eventsList1 .Event1 .photo {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 0px 0px 20px;
  }
  .reservations .upcoming .eventsList1 .Event1 .photo img {
    width: 60px;
    height: 60px;
  }
  .reservations .upcoming .eventsList1 .Event1 .info {
    width: 300px;
    height: 100px;
    float: right;
    text-align: left;
  }
  .reservations .upcoming .eventsList1 .Event1 .info h3 {
    font-size: 16px;
    font-family: 'PT Serif', serif;
    color: #ff6633;
  }
  .reservations .upcoming .eventsList1 .Event1 .info .dataTime {
    margin: 5px 0px 10px 0px;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .reservations .upcoming .eventsList1 .Event1 .info p {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
  }
  .reservations .upcoming .eventsList1 .Event1 .info a {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    color: #ff6633;
  }
  .reservations .upcoming .eventsList2 {
    height: 100px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .reservations .upcoming .eventsList2 .Event2 .photo {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 0px 0px 20px;
  }
  .reservations .upcoming .eventsList2 .Event2 .photo img {
    width: 60px;
    height: 60px;
  }
  .reservations .upcoming .eventsList2 .Event2 .info {
    width: 300px;
    height: 100px;
    float: right;
    text-align: left;
  }
  .reservations .upcoming .eventsList2 .Event2 .info h3 {
    font-size: 16px;
    font-family: 'PT Serif', serif;
    color: #ff6633;
  }
  .reservations .upcoming .eventsList2 .Event2 .info .dataTime {
    margin: 5px 0px 10px 0px;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .reservations .upcoming .eventsList2 .Event2 .info p {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
  }
  .reservations .upcoming .eventsList2 .Event2 .info a {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    color: #ff6633;
  }
  .reservations .upcoming .eventsList3 {
    height: 100px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .reservations .upcoming .eventsList3 .Event3 .photo {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 0px 0px 20px;
  }
  .reservations .upcoming .eventsList3 .Event3 .photo img {
    width: 50px;
    height: 50px;
  }
  .reservations .upcoming .eventsList3 .Event3 .info {
    width: 300px;
    height: 100px;
    float: right;
    text-align: left;
  }
  .reservations .upcoming .eventsList3 .Event3 .info h3 {
    font-size: 16px;
    font-family: 'PT Serif', serif;
    color: #ff6633;
  }
  .reservations .upcoming .eventsList3 .Event3 .info .dataTime {
    margin: 5px 0px 10px 0px;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .reservations .upcoming .eventsList3 .Event3 .info p {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
  }
  .reservations .upcoming .eventsList3 .Event3 .info a {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    color: #ff6633;
  }
}
